*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    background:var(--color-bg);
}

a{
    color:unset;
    text-decoration: none;
}

.gradient__bg{
                  
    background: linear-gradient(90deg, rgba(4, 15, 68, 1) 18%, rgba(22, 41, 143, 1) 77%);
}
.gradient__text{
    background: var(--gradient-text);
    background-clip: text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}   
.section__padding {
    padding: 5rem 6rem;
}

.section__margin{
    margin: 5rem 6rem;
}


 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 5rem 6rem;
    }

    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 550px) {
    .section__padding {
        padding: 4rem 2rem;
    }

    .section__margin {
        margin: 4rem 2rem;
    }
}
